/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * This is Brett's EOD Wednesday css file 2/5/2020
 */

.streetAddress {
  color: #60B2EB;
  cursor: pointer;
}

#mapModal {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#googleMap {
  position: fixed !important;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  z-index: 5;
  
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

#logo-container {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
    }


#intro2 {
    /* background-color: teal; */
    font-family: "Ubuntu", sans-serif;
    color: white;
    background-color: teal;
}

#target {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 72px;
}

.hide {
  display: none;
  }

#subtitle {
  background-color: teal;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  /* height: 200px; */
}

footer.footer-copyright {
  height: 0px;
  margin: 0;
}
